

body {
	width: 960px;
	background-image: url("../images/greyfloral.png");
}


header {
	clear: both;
	background-color: white;
	height: 80px;
	width: 960px;
	position: absolute;
	
}

#topnav {
	display: block;
	max-width: 960px;
                   		
}


p.topname {
	float: left;
	display: block;
	height: 20px;	
	padding: 30px 30px;
	font-size: 28px;
	margin-left: 100px;
	margin-top: auto;
	background-color: #4aaaa5;
	color: white;
			
}

ul.topnav {
	float: right;
	list-style-type: none;
	padding: 0;
	font-size: 15px;
	color: #ffffff;
	background-color: white;
	font-weight: bold;
	
}

ul li {
	display: inline-block;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;

}

ul li:hover {
	background-color: #4aaaa5;
	color: white;
	
}


.container {
	clear: both;
	width: 650px;
	border-top: 5px solid #cccccc;
	box-sizing: content-box;

}

h2 {
	color: #4aaaa5;

}

img {
	float: left;
	margin-right: 20px;
	margin-bottom: 100px;

}

#socialmedia {
	border-top: 2px solid #666666;
	box-sizing: border-box;
	
} 




footer {
	clear: both;
	border-top: 10px solid #4aaaa5;
	background-color: #666666;
	padding: 30px;
	text-align: center;
	color: white;

}